body {
  background-color: hsl(30, 38%, 92%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.perfume-preview {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  border-radius: 15px;
  border: none;
  max-width: 700px;
}

.perfume-photo img {
  display: block;
  width: 350px;
  height: 100%;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px; 
}

.perfume-info {
  width: 300px;
  padding: 32px;
  height: 400px;  
}

.perfume {
  color: hsl(228, 12%, 48%);
  font-family: "Montserrat";
  margin-top: 0;
}

.perfume-name {
  font-family: "Fraunces";
  font-size: 36px;
  font-weight: bold;
}

.perfume-description {
  font-size: 18px;
  font-family: "Montserrat";
  color: hsl(228, 12%, 48%);
  font-weight: 400;
  margin-bottom: 16px;
}

.perfume-prices{
  margin-bottom: 25px;
  position: relative;
}

.price-new {
  color: hsl(158, 36%, 37%);
  font-size: 35px;
  font-family: 'Fraunces';
  font-weight: 700;
  
}

.price-old {
  color: hsl(228, 12%, 48%);
  font-family: 'Montserrat';
  position: absolute;
  top: 14px;
  right: 60px;
  text-decoration: line-through;
}

.add-to-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(158, 36%, 37%);
  color: white;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 13px;
  height: 50px;
  width: 100%;
  max-width: 280px;
  gap: 8px;
  border-radius: 7px;
  border: none;
  cursor: pointer;
}
